<%= form_with model: book, local: true do |f| %>
    <div>
      <p>Title</p>
        <%= f.text_field :title, class:"form-control book_title" %>
    </div>
    <br>
    <div>
      <p>Opinion</p>
        <%= f.text_area :body, class:"form-control book_body" %>
    </div>
    <br>
    <div>
        <%= f.submit 'Create Book', class:"btn btn-success" %>
    </div>
  <% end %>